.SearchBar {
  width: 30% !important;
  height: 100vh;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1559060017-445fb9722f2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar input {
  border: 1px solid rgb(114, 110, 110);
  height: 38px;
  outline: none;
  text-align: center;
  font-weight: 650;
  border-radius: 50px;
  border-bottom: 1px solid #17a2b8;
}

.SearchBar input:foucs {
  outline: 0;
}

@media (min-width: 1399px) {
  .SearchBar {
    width: 30%;
    height: 100vh;
  }
}
.text-white {
  color: white;
  font-size: 1.7rem;
  text-shadow: 2px 2px 5px black;
  font-family: "El Messiri", sans-serif;
}
.options {
  width: 300px;
  max-height: 200px;
  background-color: rgb(77, 74, 74);
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(63, 61, 61);
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
  font-family: "El Messiri", sans-serif;
  overflow-y: scroll;
  transition: 0.6s;
}
.smallld {
  padding: 20px;
}
