.icon {
  width: 55px;
  margin: 0px auto;
}

.desc {
  font-size: 18px;
  color: aliceblue;
  font-weight: 700;
  font-family: "El Messiri", sans-serif;
  text-shadow: 1px 1px 3px rgb(78, 76, 76);
  margin-block-start: 10px !important;
  margin-block-end: 10px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
