.icon {
  width: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.desc {
  font-size: 14px;
  color: aliceblue;
  font-weight: 900;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}
